<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spAce-Z</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <div class="wrapper">
        <header>
        <img src="/stardust.png" class="b1">
        <img src="/starsystem1.png" class="b1">
        <img src="/starsystem2.png" class="b2">
        
        <div class="title">
            <h1>
                spAce-Z
            </h1>
            <p>some cool quote about this website here.</p>
        </div>
        </header>
        <div class="content">
            <div class="module module-left">
                <h1>Astronomy & Imagery</h1>
            </div>
            <div class="module module-right">
                <h1>Space Objects & Events</h1>
            </div>
            <div class="module module-left">
                <h1>Missions & Data Repositories</h1>
            </div>
            <div class="module module-right">
                <h1>Earth Science & Environmental Data</h1>
            </div>
            <div class="module module-left">
                <h1>Scientific Research & Data</h1>
            </div>
        </div>
    </div>
</body>
</html>